table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px #000000 solid;
}

th {
	background-color: #dddddd;
}

td.feature {
	background-color: #eeeeee;
	width: 25em;
}
tr:hover *.feature {
	background-color: #cccccc
}

td {
	padding: 0.2em;
}
td.unknown, td.assigned, td.yep, td.nope {
	text-align: center;
	font-size: 0.9em;
}
td.unknown, td.yep, td.nope {
	width: 6em;
	max-width: 6em;
}
td.unknown {
	background-color: #eeeeee;
}
tr:hover *.unknown {
	background-color: #cccccc;
}
td.assigned {
	background-color: #dddd00;
}
tr:hover *.assigned {
	background-color: #ffff00;
}
td.yep {
	background-color: #00cc00;
}
tr:hover *.yep {
	background-color: #00ff00;
}
td.nope {
	background-color: #ff0000;
	color: #ffffff;
}
tr:hover *.nope {
	background-color: #cc0000;
	color: #ffffff;
}

#changes {
	overflow-y: scroll;
	height: 200px;
	border: 2px black solid;
	background-color: #eeeeee;
}
